.head-container-about {
    width: auto;
    min-height: 100vh;
    left: 0px;
    top: 0px;

    padding: 0px 24px;

    background: #fafafa;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.about-section{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;

    max-width: 600px;

    margin-top: calc(100px + 5vh);
}

.catpic-container{
    padding-bottom: 6px;

}

.about-text-bold{
    width: 100%;

    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;

    text-align: left;
    text-shadow: 5px 3px 8px rgba(0, 0, 0, 0.2);

    color: #C01C74;
}

.about-text{
    position: relative;
    width: 100%;

    margin-top: 6px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: left;

    color: #283150;
}

.head-container-trolol-1 {
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding-bottom: 10px;

    background: linear-gradient(180deg, #FAFAFA 0%, rgba(255, 255, 255, 0) 76.04%), #8A92B1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.head-container-trolol-2 {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    background: linear-gradient(180.22deg, #8A92B1 -12.88%, rgba(213, 216, 227, 0.357179) 35.84%, rgba(255, 255, 255, 0) 99.77%), #3B4776;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.animated-text-container {
    text-align: center;
    display: grid;
    place-items: center;
    min-height: 600px;
    background-color: #202952;
    padding: 0 10px;
}

@media (min-width: 350px) {
    .head-container-about {
        padding: 0px 24px;
    }

    .about-text-bold {
        font-size: 32px;
    }
  }

@media (min-width: 600px) {
    .head-container-about {
        padding: 0px 20vw;
    }
    
    .catpic-container{
        padding-bottom: 0px;

    }

    .about-text-bold {
        font-size: 40px;
    }
}