@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Major+Mono+Display&family=Manuale&family=Open+Sans&family=Playfair+Display:wght@800&display=swap');


/* TODO: break point for height is 600px, width is 800px */
.bottom, .top {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.head-container-intro {
    width: 100%;
    height: auto;
    overflow: auto;

    background: #8A92B1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.intro-container {
    position: relative;
    /* left: calc(50vw - 210px);
    bottom: calc(50vh - 24px); */
    height: auto;
    width: 25%;

    right: 10vw;

    background: none;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.sitting-avatar-container{
    height: 100vh;

    background: #E0EBEB;
    display: flex;
    flex: 0 0 500px;

    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 784px) {
    .intro-text {
        white-space: nowrap;
        padding-left: 6.5vw;
        font-size: 35px;
    }
    .intro-text-small {
        padding-left: 6.5vw;
        font-size: 18px;
    }
}

@media only screen and (max-width: 784px) {
    .intro-text {
        padding-top: 1.5vh;
        font-size: 3.5vw;
    }
    .intro-text-small {
        padding-top: 1.5vh;
        font-size: 1.82vw;
    }
}


.intro-text {
    position: relative;

    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    /* font-size: 35px; */
    /* line-height: 38px; */

    text-align: left;

    color: #C01C74;
}

.intro-text-small {
    position: relative;
    width: 100%;

    margin-top: 10px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    /* font-size: 18px; */
    /* line-height: 25px; */
    text-align: left;

    color: #283150;
}

.mountain-border {
    position: absolute;
    top: calc(100vh - (100vw*0.17578));
}

.blob-spacer {
    position: relative;
    width: 100%;
    height: 81px;
    
}

.blob-container {
    min-height: 530px;
    height: calc(100vh - 81px);
    min-width: 80vw;
    max-width: 100vw;
    overflow: hidden;

    display: flex;
    flex-direction: column-reverse;

    justify-content: start;
    align-content: flex-end;

    background-image: url('./art/chopped2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media (max-width: 650px) {
    .blob-container{
        width: 100%;
    }
  }