@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Major+Mono+Display&family=Manuale&family=Open+Sans&family=Playfair+Display:wght@800&display=swap');


/* TODO: break point for height is 600px, width is 800px */
.bottom, .top {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.head-container-intro {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    background: #8A92B1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.intro-container {
    position: absolute;
    left: calc(50vw - 210px);
    bottom: calc(50vh - 24px);
    height: auto;

    background: none;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.sitting-avatar-container{
    height: 100vh;

    background: #E0EBEB;
    display: flex;
    flex: 0 0 500px;

    justify-content: center;
    align-items: center;
}

.intro-text {
    position: relative;

    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 38px;

    text-align: left;

    color: #C01C74;
}

.intro-text-small {
    position: relative;
    width: 275px;

    margin-top: 10px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: left;

    color: #283150;
}

.mountain-border {
    position: absolute;
    top: calc(100vh - (100vw*0.17578));
}

.blob_container {
    height: 100vh;

    display: flex;
    flex: 0 0 500px;

    justify-content: center;
    align-items: center;
}