.head-container-resume {
    width: auto;
    
    min-height: 100vh;
    left: 0px;
    top: 0px;

    padding-left: 180px;
    padding-right: 180px;

    background: #fafafa;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.resume-page-title-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;

    margin-bottom: 32px;
}

.resume-page-container {
    width: 100%;
    position: relative;

    margin-top: 125px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
}

.resume-icon-container {
    margin: 17px 12px 0px 12px;
    opacity: .5;
}

.resume-icon-container:hover {
    opacity: 1;
}

.resume-page-title{   
    padding-left: 40px; 
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;

    text-align: center;
    text-shadow: 5px 3px 8px rgba(0, 0, 0, 0.2);

    color: #C01C74;
}

.resume-list-container {
    width: 80%;
    max-width: 900px;


    padding-top: 10px;

    display: flex;
    flex-direction: column;
    align-self: center;
}

.slider-container {
    margin-bottom: 50px;
}

@media only screen and (max-width: 1100px) {
    .head-container-resume {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

@media only screen and (max-width: 480px) {
    .head-container-resume {
        padding-left: 0px;
        padding-right: 0px;
    }
}