.resume-text-container {
  margin: 0px 32px 16px;
  align-self: left;
}

.resume-text {
  width: 100%;

  text-align: left;
  font-family: Helvetica;
}

.resume-header-names{
  font-family: 'Nunito', sans-serif;
  font-size: medium;

  color: #283150;
}
.descriptions {
  font-family: 'Open Sans', sans-serif;
  font-size: small;
}

.unnecessary-commentary {
  font-family: 'Fjalla One', sans-serif;
  font-size: smaller;
  color: #8A92B1;
  margin-top: 6px;
  
}

ul {
  list-style-type: none;
}

@media (max-width: 480px) {
  .resume-text-container {
    margin: 0px 18px 12px 6px;
  }

  ul {
    padding: 0px 0px 0px 12px;
  }
}

@media (max-width: 700px) {
  ul {
    padding: 0px 0px 0px 18px;
  }
}